* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  border: 2px solid transparent;
  background: #08324a;
}

#header .header-container .flex-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .header-container .flex-left .main-logo {
  width: 45%;
}

#header .header-container .flex-left .main-logo img {
  width: 100%;
}

#header .header-container #openbtn {
  color: #386b89;
  font-size: 2rem;
  cursor: pointer;
}

#header .header-container #main-links, #header .header-container #social-links {
  display: none;
}

#header #navLinks {
  background: #386b89;
  text-align: left;
  display: none;
}

#header #navLinks a {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  padding: 1em;
  border: 2px solid transparent;
  color: #08324a;
}

.under-construct {
  height: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.under-construct h1, .under-construct h2 {
  margin: 0;
  font-weight: lighter;
}

@media all and (min-device-width: 1200px) and (max-device-width: 1367px) and (-webkit-min-device-pixel-ratio: 1) {
  #header .header-container #social-links {
    display: block;
    word-spacing: 20px;
    margin-top: 0.4rem;
  }
  #header .header-container #social-links a {
    font-size: 1.6rem;
    color: #386b89;
  }
  #header .header-container #social-links a:hover {
    color: #fff;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  #header .header-container .flex-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #header .header-container .flex-left .main-logo {
    width: 17% !important;
    margin-right: 3rem;
  }
  #header .header-container .flex-left .main-logo img {
    width: 100% !important;
  }
  #header .header-container #openbtn {
    display: none;
  }
  #header .header-container #main-links {
    display: block;
    word-spacing: 20px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.4em;
  }
  #header .header-container #main-links a {
    text-decoration: none;
    color: #386b89;
    font-size: 1.05rem;
  }
  #header .header-container #main-links a:hover {
    color: #fff;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .under-construct {
    color: #cecece;
  }
  .under-construct h2 {
    font-size: 3rem;
  }
  .under-construct h1 {
    font-size: 2.5rem;
  }
}

@media all and (min-device-width: 1200px) and (max-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1) {
  #header .header-container #social-links {
    display: block;
    word-spacing: 20px;
    margin-top: 0.4rem;
  }
  #header .header-container #social-links a {
    font-size: 1.6rem;
    color: #386b89;
  }
  #header .header-container #social-links a:hover {
    color: #fff;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  #header .header-container .flex-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #header .header-container .flex-left .main-logo {
    width: 17% !important;
    margin-right: 3rem;
  }
  #header .header-container .flex-left .main-logo img {
    width: 100% !important;
  }
  #header .header-container #openbtn {
    display: none;
  }
  #header .header-container #main-links {
    display: block;
    word-spacing: 20px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.4em;
  }
  #header .header-container #main-links a {
    text-decoration: none;
    color: #386b89;
    font-size: 1.05rem;
  }
  #header .header-container #main-links a:hover {
    color: #fff;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
}
/*# sourceMappingURL=thankyou.css.map */